.header {
  display: flex;
  justify-content: space-between;
}

.inputSearch {
  margin: 1.563rem 0;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.563rem;
}

.noResult {
  display: inline-block;
  margin-top: 1.25rem;
}
