.comment {
    margin-top: 19px;
    margin-bottom: 41px;
    color: var(--color-light-900);
    opacity: 0.5; 
}

.title {
    margin-bottom: 51px;
    text-align: center;
  }

.card {
    width: 420px;
    height: 384px;
    padding: 33px 36px 60px;
}



