.root {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.list {
  display: flex;
  border-bottom: 0.125rem solid var(--color-dark-300);
}

.trigger {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 2.25rem;
  padding: 0.75rem 1.5rem;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  &:focus-visible {
    color: var(--color-light-100);
    background-color: var(--color-dark-700);
    border: 0.063rem solid var(--color-info-900);
    outline: 0.063rem solid var(--color-info-900);
  }

  &:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border-color: var(--color-dark-100);
  }

  &:active,
  &[data-state='active'] {
    color: var(--color-light-100);

    background-color: var(--color-accent-500);
    border: none;
    border-left: 0.063rem solid var(--color-accent-500);
    outline: none;
  }

  &:disabled {
    cursor: default;

    color: var(--color-dark-300);

    background-color: var(--color-dark-700);
    border-top: 0.063rem solid var(--color-dark-300);
    border-right: 0.063rem solid var(--color-dark-300);
    border-bottom: 0.063rem solid var(--color-dark-300);
    border-left: none;
  }

  &:first-child {
    //border-left: 0.063rem solid var(--color-dark-300);
    border-radius: 0.125rem 0 0 0.125rem;

    &:focus-visible {
      border-radius: 0.125rem;
    }

    &:hover {
      border-radius: 0.125rem;
    }

    &:active,
    &[data-state='active'] {
      border-top: 0.063rem solid var(--color-accent-300);
      border-right: 0.063rem solid var(--color-accent-500);
      border-bottom: 0.063rem solid var(--color-accent-500);
      border-radius: 0.125rem 0 0 0.125rem;
      outline: none;
    }

    &:disabled {
      border: 0.063rem solid var(--color-accent-500);
      border-radius: 0.125rem;
    }
  }

  &:last-child {
    border-radius: 0 0.125rem 0.125rem 0;

    &:focus-visible {
      border: 0.063rem solid var(--color-info-900);
    }

    &:hover {
      border-top: 0.063rem solid var(--color-dark-100);
      border-right: 0.063rem solid var(--color-dark-100);
      border-bottom: 0.063remsolid var(--color-dark-100);
      border-left: none;
    }

    &:active,
    &[data-state='active'] {
      border: none;
      border-left: 0.063rem solid var(--color-accent-500);
    }

    &:disabled {
      border-top: 0.063rem solid var(--color-dark-300);
      border-right: 0.063rem solid var(--color-dark-300);
      border-bottom: 0.063rem solid var(--color-dark-300);
      border-left: none;
      border-radius: 0 0.125rem 0.125rem 0;
    }
  }
}
