.root {
  padding: 0;
}

.trigger {
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
}

.window {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  max-width: 540px;
  padding: 0;

  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  border-bottom: 1px solid var(--color-dark-500);
}

.closeButton {
  all: unset;

  cursor: pointer;

  display: flex;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  transition: 0.4s background-color;

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-300);
    outline: 2px solid transparent;
  }
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-height: 70vh;
  padding: 18px 24px 36px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-dark-600);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-100);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-300);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.overlay[data-state='open'],
.window[data-state='open'] {
  animation: fade-in 300ms ease-out;
}

.overlay[data-state='closed'],
.window[data-state='closed'] {
  animation: fade-out 300ms ease-in;
}
