.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 29px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 27px;

  & > button:last-child {
    margin: 36px 0 20px;
  }
}

.signIn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  color: var(--color-light-900);
}

.signInLink {
  color: var(--color-accent-500);
  text-decoration: underline;

  &:hover {
    color: var(--color-accent-300);
  }
}