.headerWrapper {
  width: 100%;
  margin-bottom: 1.563rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  gap: 0.563rem;
  align-items: center;
}

.iconTrigger {
  transform: rotate(90deg);
  border: 0.063rem solid var(--color-light-100);
  border-radius: 50%;
  transition: all 0.2s linear;

  &:hover {
    transform: rotate(180deg);
    border: 0.063rem solid var(--color-accent-500);
    fill: var(--color-accent-500);
  }
}

.trigger {
  width: 18px;
  height: 18px;
  padding: 0;

  color: var(--color-light-100);

  background: none;
  border: none;

  &:hover {
    color: var(--color-accent-500);
  }
}

.iconButton {
  &:hover {
    fill: var(--color-accent-500);
  }
}

.deckImage {
  aspect-ratio: 3/2;
  width: 10.625rem;
  height: 6.688rem;
  margin-top: 0.938rem;

  object-fit: cover;
}
