.comment {
  margin-top: 19px;
  margin-bottom: 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.title {
  margin-bottom: 51px;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 60px;
}
