.root {
  background-color: var(--color-dark-700);
  border: 0.063rem solid var(--color-dark-500);
  border-radius: 0.125rem;
  box-shadow:
    -1px -1px 2px rgb(0 0 0 / 10%),
    1px 1px 2px rgb(0 0 0 / 10%);
}
