.icon {
  margin-left: 10px;
}

.root {
  position: relative;

  border-collapse: collapse;

  width: 100%;

  color: var(--color-light-100);

  border: 1px solid var(--color-dark-500);
}

.tableRow {
  border-bottom: 1px solid var(--color-dark-500);
  transition: 0.3s;
}

.tableHead {
  background-color: var(--color-dark-500);
}

.tableHeadCell {
  cursor: pointer;
  padding: 6px 24px;
  text-align: left;

  &:hover {
    background-color: var(--color-dark-300);
  }
}

.tableDataCell {
  padding: 6px 24px;
}

.dataImage {
  display: flex;
  gap: 10px;
  align-items: center;
}
